.Navbar-HomeContent{
    text-align: center;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.no-margin-sticky{
    margin: 0px;
    padding: 10px 400px;
}

.Main-title{
    font-weight: 600;
    width: 60%;
    font-size: 4.5vw;
    word-spacing: -15.2px;
    letter-spacing: -4.5px;
    padding: 5px 0 0 0;
}

.Top-Main-title{
    font-weight: 300;
    font-size: 1.2vw;
    word-spacing: -0.2em;
    padding-bottom: 0px;
}

.Home-Intro{
    font-weight: 300;
    font-size: 1.3vw;
    word-spacing: -0.2em;
    /* padding: 10px 560px 0px 560px; */
    width: 45%;
    line-height: 33px;
}
